.main-contacts {
  position: relative;
  min-height: 160px;
  &__spinnerContainer {
    grid-column: span 12;
    margin-top: 60px;
  }
  &__nomap {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 30%;
    }
  }
  &__info {
    @include fluid-text(16, 14);

    width: 270px;
    background: var(--palette-color7);
    border-radius: 10px;
    padding: 30px 20px;
    position: absolute;
    bottom: 17px;
    left: 17px;
    z-index: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 22px;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.05);
    &-phone,
    &-location {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
      & > svg {
        stroke: var(--palette-color1);
        fill: var(--palette-color1);
      }
    }
  }
}
