.card-halls {
  &__item {
    grid-column: span 1;
    position: relative;
    line-height: 25px;

    &-photoContainer {
      position: relative;
      display: flex;
      box-shadow: 6px 6px 20px 0px rgba(0, 0, 0, 0.15);
      margin-bottom: 10px;
    }
    &-photo {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &-caption {
      @include fluid-text(32, 30);

      position: absolute;
      bottom: 20px;
      width: 100%;
      font-weight: 500;
      line-height: 38px;
      text-align: center;
      color: var(--card-title-color);
    }
    &--grid {
      display: grid;
      grid-template-columns: 50% 50%;
      column-gap: 20px;
      align-items: center;

      @include desktop {
        grid-template-columns: 400px 1fr;
      }

      @include tablet {
        grid-template-columns: 350px 1fr;
      }

      @include mobile {
        display: flex;
        flex-direction: column;
        & .card-halls__item-photoContainer {
          width: 100%;
        }
      }

      /* Стили для четных элементов */
      &:nth-child(even) {
        @include desktop {
          grid-template-columns: 1fr 400px;
        }

        @include tablet {
          grid-template-columns: 1fr 350px;
        }

        & > .card-halls__item-photoContainer {
          order: 2;
          @include mobile {
            order: 1;
          }
        }
        & > p {
          order: 1;
          @include mobile {
            order: 2;
          }
        }
      }
    }
  }
}
