.card-prices {
  &__item {
    grid-column: span 1;
    display: flex;
    height: 381px;
    padding: 30px;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    border-radius: 10px;
    background: var(--card-price-background);
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.05);
    margin: 10px 0;
    position: relative;

    &-noneShadow {
      border: none;
      box-shadow: none;
    }
    &-subtitle {
      @include fluid-text(24, 22);
      font-weight: 500;
      line-height: 29px;
      text-align: center;

      &:last-child {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &-checkbox {
      height: 75px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      & > svg {
        stroke: #3aa31e;
        fill: #3aa31e;
      }
    }
    &-textCheck {
      @include fluid-text(16, 14);
      font-weight: 400;
      line-height: 22px;
      margin-left: 10px;
    }

    //если карточек больше 4
    &-redisignBlock {
      height: 210px;

      & .card-prices__item-subtitle {
        text-align: left;
      }
      & .card-prices__item-checkboxGroup {
        display: flex;
        flex-direction: row;
        width: 70%;
        justify-content: space-between;
      }
    }
    & .card-prices__item-redisignCheckboxGroup {
      display: flex;
      justify-content: space-between;
      position: relative;
      & .card-prices__item-checkbox {
        width: 30%;
      }
      & .card-prices__item-subtitle {
        &:last-child {
          position: absolute;
          left: 90%;
        }
      }
    }
  }
}

// @media screen and (max-width: 1000px) {
//   .card {
//     grid-column: span 6;
//   }
// }
// @media screen and (max-width: 550px) {
//   .card {
//     grid-column: span 12;
//   }
//   .redisignBlock .checkbox {
//     height: 122px;
//   }
// }
