.header {
  width: 100%;
  min-height: 139px;
  background: var(--header-background);
  color: var(--header-color);
  display: flex;
  align-items: center;
  @include tablet {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    @include tablet {
      gap: 10px;
      flex-direction: column;
    }
    @include mobile {
      flex-direction: row;
    }
  }

  &__menu {
    // margin-left: auto;
    &-list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 40px;
      margin: 0 15px;
      @include desktop {
        column-gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
      }
      @include tablet {
      }
      @include mobile {
        column-gap: 15px;
      }
    }
    &-item {
      @include fluid-text(16, 12);
      cursor: pointer;

      position: relative;
      white-space: nowrap;
      border-radius: 10px;

      @include hover {
        color: #ffa800;
      }
    }
  }
  &__submenu {
    position: relative;
    width: 180px;
    display: flex;
    flex-direction: column;
  }

  &__button {
    width: 180px;

    @include mobile {
      width: 30px;
    }
  }
  &__userControl {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    &-notification {
      svg {
        cursor: pointer;
        stroke: #fdf8f0;
      }
      svg:hover {
        stroke: #ffa800;
        stroke-width: 2.5;
      }
    }
  }
  &__mobile-controls {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
