.mobile-overlay {
  width: 100vw;
  height: 100svh;
  margin: 0;
  padding: 43px 20px;
  display: block;
  z-index: 500;
  position: fixed;
  top: 0;
  left: 0;
  border: none;
  background-color: var(--palette-color1);
  color: var(--palette-color-white);

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &__close-button-wrapper {
    display: flex;
    justify-content: end;
  }

  &__list {
    @include flex-center;

    flex-direction: column;
    row-gap: 20px;
    min-height: 80vh;
  }
  &__item {
    line-height: 30px;

    & svg {
      stroke: var(--palette-color-white);
    }

    &:has(a) {
      & a {
        display: flex;
        align-items: center;
        gap: 10px;
        & svg {
          stroke: var(--palette-color2);
        }
      }
    }
  }

  &--admin {
    & .mobile-overlay__list {
      gap: 10px;
    }

    & .mobile-overlay__item {
      @include fluid-text(16, 14);

      width: 250px;
      line-height: 20px;
      display: flex;
      column-gap: 15px;
      align-items: center;

      @include hover {
        background-color: var(--btn-background-five);
      }

      & a {
        width: 100%;
        padding: 5px;
      }
    }
  }
}
