.slider {
  cursor: pointer;
  outline: none;

  & .banner {
    height: 100%;
    width: 100%;
  }

  // custom slider

  & .slick-slide {
    width: 100%;
  }
  & .slick-prev:before,
  & .slick-next:before {
    color: var(--palette-color3);
  }
  & .slick-dots {
    opacity: 0;
    // bottom: -25px;
  }
  & .slick-dots li {
    margin: 0 7px;
  }
  & .slick-dots li button:before {
    background: rgba(0, 0, 0, 1);
    border: 3px solid rgb(1, 26, 3);
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
  }
  & .slick-dots li.slick-active button:before {
    border: 8px solid var(--palette-color6);
    background: white;
    top: -5px;
  }

  & #staff .slick-dots {
    bottom: -35px;
  }

  &-staff {
    & .slick-dots {
      bottom: -40px;
      opacity: 1;
    }
    & .slick-dots li button:before {
      background: rgba(0, 0, 0, 1);
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
    }
  }
}
