.user-review {
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    width: 100%;
    margin: 0 auto;
    max-width: 785px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 20px;

    & label {
      font-size: 16px;
      display: block;
      margin-bottom: 10px;
    }
  }
  &__textarea {
    resize: none;
    height: auto;
  }

  &__group-star {
    display: flex;
    align-items: center;
    column-gap: 16px;

    & svg {
      cursor: pointer;
      stroke: #13340a;
      fill: none;

      @include hover {
        fill: #ffa800;
        stroke: #ffa800;
      }
    }
  }
  &__button {
    max-width: 220px;
    margin: 0 auto;
  }
}
