@import "../../styles//variables.scss";

.btn {
  @include ButtonPrimary();
  text-decoration: none;
}
.btnEnter {
  background: $btn-background-default;
  color: $body-color-primary;
  font-family: $body-family-secondary-regular;
  font-weight: 600;
  letter-spacing: 0.96px;
  font-size: 24px;
  width: 100%;
  max-width: 190px;
}

.btn:hover {
  background: $btn-background-hover;
}

.btnMore {
  width: 750px;
  margin: 30px auto 0;
  background: $btn-background-default;
  color: $btn-color-secondary;
  padding: 15px 20px;
  font-size: 24px;
}
.menuAreaButton {
  background: transparent;
  width: 100%;
  min-width: 240px;
  outline: 1px solid $btn-border-default;
  box-shadow: 2px 2px 15px 0px $btn-boxshadow;
}
.menuAreaButton:hover,
.active,
.add {
  background: $btn-menuArea-background-active;
  color: $white;
  outline: none;
}
.saveButton {
  background: $btn-saveButton-background;
  color: $btn-saveButton-color;
  padding: 15px 5px;
  font-size: 16px;
  letter-spacing: 0.32px;
}
.deleteButton {
  color: inherit;
  text-decoration: underline;
  padding: 15px 5px;
  font-size: 20px;
  width: 100%;
}

.add {
  width: 160px;
  padding: 18px 32px;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  margin: 0 auto;
  border-radius: 12px;
  font-family: $body-family-secondary-regular;
}
.add:hover {
  background: $btn-background-default;
}
