@import "../../styles//variables.scss";

.btn {
  @include ButtonPrimary();
  background: $btn-background-default;
  color:$body-color-primary;
  font-family: $body-family-secondary-regular;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.96px;
}

.btn:hover {
  background: $btn-background-hover;
}

.btnMore {
  width:750px;
  margin:30px auto 0;
  color: $btn-color-secondary;
  padding:15px 20px;
}
