@import '../../styles/variables.scss';

.staffWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  max-width: 1284px;
  margin: 60px auto;
}
.staffInfo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    background-color: $athens-gray;
    display: block;
  }
  .staffDescr {
    margin-left: 27px;
  }
  h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
  }
  p {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: $opacity-black
  }
}
