@import "../../../../../../../../styles/variables.scss";

.description {
  border: 1px solid $description-border-color;
  padding: 20px;
}
.controlGroup {
  display: flex;
  margin-bottom:20px;
  align-items: center;
  justify-content: flex-end;
  column-gap:20px;
}
.editText {
  width: 100%;
  height: 100%;
  font-size: 20px;
  resize: none;
  font-family: $body-family-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.4px;
}
.editText:focus {
  outline: 1px solid $gray;
}