@import "../../../../../styles/variables.scss";

.container {
  position: absolute;
  top: 0;
  left: 30%;
  transform: translate(-30%, 0);
  width: 415px;
  margin: 30px;
  -webkit-transform: translate(-30%, 0);
  -moz-transform: translate(-30%, 0);
  -ms-transform: translate(-30%, 0);
  -o-transform: translate(-30%, 0);
}

.controls {
  position: absolute;
  top: 50px;
}
