* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  @include fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 25px;
  color: var(--color-body);
  background-color: var(--background-body);
}
a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
fieldset {
  border: none;
}
input,
textarea {
  @include fluid-text(16, 14);

  line-height: 24px;
  width: 100%;
  height: 48px;
  border: none;
  border-radius: var(--border-radius-mini);
  background: var(--palette-color-white);
  box-shadow: var(--shadow-input);
  padding: 13px 10px;
  outline: 1px solid transparent;
  cursor: pointer;
  @include hover {
    outline: 1px solid var(--palette-color5);
  }
  &:focus,
  &:active {
    outline: 1px solid var(--palette-color2);
  }
}
input[type='radio'] {
  display: none;
  margin-right: 5px;
  + .radioLabel {
    &:before {
      content: '';
      background: #f4f4f4;
      border-radius: 100%;
      border: 1px solid var(--palette-color1);
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 4px;
      vertical-align: top;
      cursor: pointer;
      text-align: center;
      transition: all var(--transition-duration) ease;
      margin-right: 10px;
    }
  }
  &:checked {
    + .radioLabel {
      &:before {
        background-color: var(--palette-color1);
        box-shadow: inset 0 0 0 4px var(--palette-color7);
      }
    }
  }
}

input[type='file'] {
  height: 100%;
  object-fit: cover;
  display: none;
}
.invisibleScroll {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

.app {
  overflow: hidden;
}

.spinnerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
}

::-webkit-scrollbar-track {
  background: #256613;
  border-radius: 10px 10px 10px 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #fdf8f0;
  border: 2px solid #256613;
  border-radius: 10px 10px 10px 10px;
}
