@import "../../styles//variables.scss";

.title {
  
}
.container {

  grid-column: span 12;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.line {
  width:650px;
  height:1px;
  background: linear-gradient(90deg, #563E0E 0%, rgba(86, 62, 14, 0.00) 100%);
}
.lineLeft {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

