@import "../../main.module.scss";

.logo {
  background: inherit;
}
.logo img {
  width: 100%;
  height:100%;
  object-fit:100%;
}

@media screen and (max-width: 600px) {
  .logo{
    display: none;
  }
}

