@import "../../main.module.scss";

.logo {
  background: inherit;
  position: relative;
  top: 3px;
}
.logo img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .logo{
    display: none;
  }
}

