@import "../../styles/variables.scss";

.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin:0 100px;
}

.text,
.galerry {
  grid-column: span 12;
}
.text {
  margin-bottom:30px;
}
.galerry {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}
.photo {
    
}
.container {
  grid-column: span 4;
  position: relative;
}
.caption {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%,-20px);
  margin:0 auto;
}
