@import "../../styles/variables.scss";
.area {
  position: absolute;
  z-index: 402;
  width: 180px;
  padding: 60px 15px 30px;
  right: 0px;
  top: 0px;
  background: rgb(214, 212, 212);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border-radius: 10px;
  opacity: 0;
  transform: scale(0.5);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  box-shadow: 6px 6px 20px 0px rgba(19, 52, 10, .7);

  .closeContainer {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  & button {
    @include TextLink;
    background: transparent;
    color: $btn-color-two;
    border: none;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  & button:hover {
    font-weight: 500;
    color: #ffa800;
  }
  .decoration {
    position: absolute;
    top: -12px;
    right: 20%;
    transform: translate(-20%, 0);
    z-index: -1;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid rgb(214, 212, 212);
  }
}

.active {
  opacity: 1;
  right: 0px;
  top: 79px;
  transform: scale(1);
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}



@media screen and (max-width: 1400px) {
  .area {
    width: 180px;
  }
}
