@import "../../../../../../styles/variables.scss";

.container {
  @include TextSecondary;
}
.controlGroup {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 20px;

}
.editText {
  width: 100%;
  height: 100%;
  font-size: 20px;
  resize: none;
  font-family: $body-family-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.4px;
}
.editText:focus {
  outline: 1px solid $gray;
}

//scrollbar
.editText::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
}

.editText::-webkit-scrollbar-track {
  background: #71856c;
  border-radius: 10px 10px 10px 10px;
}

.editText::-webkit-scrollbar-thumb {
  background-color: #fdf8f0;
  border: 1px solid #71856c;
  border-radius: 10px 10px 10px 10px;
}
