@import "../../../../../../main.module.scss";

.container {
  margin: 40px 0;
  @include Grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap:10px;
}
.document {
  grid-column: span 5;
  padding: 30px 20px 30px 30px;
  border-radius:10px;
  border: 1px solid #13340a;
  position: relative;
  cursor:pointer;
  display: flex;
}
.document:hover {
  border: 1px solid #ffa800;
}
.file {
  border-right: 1px solid #ffa800;
  padding: 0 10px 0 0;
}
.controlGroup {
  padding: 0 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  row-gap: 20px;
  flex-direction: column;
}

