@import "../../../../styles/variables.scss";


.container {
  margin:0 100px 100px;
}
.dashboard {
  margin-top:20px;
  width: 100%;
  height:737px;
  display: block;
  overflow-y: scroll;
  border:5px solid $dashboard-color;
}
table {
  background: inherit;
  border-collapse: separate;
  width: 100%;
}
thead {
  position: sticky;
  top: 0;
  border-right: 5px solid $dashboard-color;
  border-bottom: 5px solid $dashboard-color;
  background:$body-background-primary;
  width: 100%;
}

td {
  padding: 10px;
  border: 5px solid $dashboard-color;
}
th {
  padding:10px;
  text-align: center;
}
tr {
  width:100%;
}

tr td:first-child {
  border:none;
  text-align: center;
}
thead th:first-child {
  border-bottom: none;
}
tbody tr:last-child td{
  border-bottom: none;
}



//scrollbar
.dashboard::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
}

.dashboard::-webkit-scrollbar-track {
  background: #71856C;
  border-radius: 10px 10px 10px 10px;
}

.dashboard::-webkit-scrollbar-thumb {
  background-color: #FDF8F0;
  border-radius: 10px 10px 10px 10px;
}