@import "../../../../../../../styles/variables.scss";

.wrapper {
  padding: 20px;
  border-radius: 10px;
  background: $layout-card-background;
  border: 1px solid $card-border-color;
  box-shadow: 2px 6px 10px 0px rgba(0, 0, 0, 0.1);
  width: 55%;
  height: 715px;
  margin-left: 55px;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 50px;
}
.description {
  background: $white;
  margin-top:20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid $card-border-color;
}
