@import "../../styles//variables.scss";
@import "../../styles/mixins.scss";

.header {
  width: 100%;
  height: 139px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 80px 30px;
  background: $header-background;
  color: $header-color;
  position: relative;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 60px;
  margin:0 15px;
}
.menuItem {

  cursor: pointer;
  @include H5;
  position: relative;
  white-space: nowrap;
  border-radius: 10px;
}
.menuItem:hover {
  color: #ffa800;
}

.submenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media screen and (max-width: 1540px) {
  .header {
    height: 110px;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    height: 100px;
  }
}
