@import "../../styles//variables.scss";

.header {
  width: 100%;
  height: 139px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 80px 30px;
  background: $header-background;
  color: $header-color;
  position:relative;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menuItem {
  padding: 10px 0;
  margin: 0 20px;
  cursor: pointer;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 0.96px;
  font-family: $body-family-secondary-regular;
}
.menuItem:hover {
  font-weight: 600;
}
.menuItem:last-child {
  font-weight: 700;
  border-bottom: 1px solid $header-color;
}
