.main-prices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  & .text {
    grid-column: span 12;
    margin-top: 30px;
  }

  &__tile {
    display: flex;
    flex-direction: column;
  }

  &__spinnerContainer {
    grid-column: span 12;
    margin-top: 60px;
  }

  // @media screen and (max-width: 1280px) {
  //   .services {
  //     margin: 0 50px 100px;
  //   }
  // }
  // @media screen and (max-width: 600px) {
  //   .services {
  //     margin: 0 20px 30px;
  //   }
  // }
}
