.admin-page {
  display: grid;
  grid-template-columns: 320px 1fr;
  background: #fdf8f0;
  column-gap: 20px;
  min-height: 100vh;
  &__sidebar {
    background: var(--sidebar-background);
    color: var(--sidebar-color);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @media screen and (max-width: 1200px) {
    .container {
      grid-template-columns: 250px 1fr;
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      grid-template-columns: repeat(12, 1fr);
    }
    .sidebar {
      grid-column: span 12;
      grid-row: 1;
    }
  }
  &__content {
    margin: 20px 20px 20px 0;
    padding: 20px;
    background: white;
    border: 1px solid var(--btn-border);
  }
  &__overlay {
    background: url('../../../assets/images/earth.jpg') no-repeat;
    background-size: cover;
    filter: grayscale(0.75);
    -webkit-filter: grayscale(0.75);
    padding: 0;
    margin: 40px 20px 40px 0;
  }
  @media screen and (max-width: 600px) {
    .layout {
      grid-column: span 12;
      grid-row: 2;
      margin: 0;
    }
  }
}
