.admin {
  grid-template-columns: 320px 1fr;
  background: #fdf8f0;
  column-gap: 20px;
  min-height: 100vh;

  @include tablet {
    grid-template-columns: 250px 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr;
    grid-template-rows: minmax(60px, 90px) 1fr;
  }

  &__sidebar {
    grid-column: 1;
    background: var(--sidebar-background);
    color: var(--sidebar-color);
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    margin: 20px 20px 20px 0;
    padding: 20px;
    background: var(--palette-color-white);
    border: 1px solid var(--btn-border);

    @include mobile {
      margin: 20px;
    }
  }
  &__overlay {
    background: url('../../../../public/images/admin-page/earth.jpg') no-repeat;
    background-size: cover;
    filter: grayscale(0.75);
    -webkit-filter: grayscale(0.75);
    padding: 0;
    margin: 40px 20px 40px 0;
  }
}
