.admin-policy {
  &__title {
    display: block;
    & .title__line {
      display: none;
    }
  }
  &__list {
    margin: 40px 0;
    column-gap: 10px;

    @include tablet {
      --gridColumns: 1;
    }
  }

  &__item {
    @include fluid-text(16, 14);

    grid-column: span 1;
    padding: 30px 20px 30px 30px;
    border-radius: 10px;
    border: 1px solid #13340a;
    position: relative;
    cursor: pointer;

    @include hover {
      border: 1px solid var(--palette-color5);
    }

    @include mobile-s {
      padding: 15px;
    }

    &-file {
      text-align: justify;
    }

    &-controls {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      row-gap: 20px;

      @include mobile-s {
        padding-left: 10px;
      }
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
  }
}
