.admin__sidebar {
  @include mobile {
    padding: 20px;
    justify-content: center;
    align-items: flex-end;
  }

  &-logo {
    padding: 10px 60px 10px 10px;
    height: 86px;
  }
  &-list {
    @include fluid-text(20, 14);

    line-height: 24px;
    margin-top: 20px;
  }
  &-item {
    display: block;
    width: 100%;
    padding: 10px 0 10px 20px;
    @include hover {
      background: var(--btn-background-five);
    }
    &.active {
      background: var(--btn-background-one);
    }
  }

  &-controls {
    @include fluid-text(20, 14);

    position: relative;
    bottom: 0;
    line-height: 24px;

    & svg {
      margin-right: 20px;
      stroke: #fdf8f0;
    }
  }
  &-control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0 10px 30px;
    cursor: pointer;
  }
}
