@import "../../styles//variables.scss";
@import "../../styles/mixins.scss";

.footer {
  width: 100%;
  // height: 259px;
  padding: 30px 100px;
  background: $footer-background;
  color: $footer-color;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    position: relative;
    top: -20px;
  }
}

.footerNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap:35px;
}
.centerMenu {
  column-gap: 60px;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  @include H5;
}
.menuItem {
  // padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.menuItem:hover {
  color: #ffa800;
}

.phone,
.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.phone svg,
.location svg {
  stroke: #fdf8f0;
  fill: #fdf8f0;
}
.contacts {
  display: flex;
  flex-direction: column;
  width: 169px;
  @include TextFieldDescription;
}
.socialBlock {
  text-align: center;
}
