@import "../../styles//variables.scss";

.footer {
  width: 100%;
  height: 259px;
  padding: 30px 100px;
  background: $footer-background;
  color: $footer-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItem {
  margin-right: 50px;
  cursor: pointer;
  display:flex;
  flex-direction: row;
}
.menuItem:last-child, .download{
  font-weight: 700;
  border-bottom: 1px solid $header-color;
}
.social {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
  & svg {
    border-radius:10px  ;
    -webkit-border-radius:10px  ;
    -moz-border-radius:10px  ;
    -ms-border-radius:10px  ;
    -o-border-radius:10px  ;
}
}

.phone, .location {
  display: flex;
  flex-direction: row;
}
