@import "../../styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 320px 1fr;
  background: #fdf8f0;
  column-gap: 20px;
  min-height: 100vh;
}
.sidebar {
  background: $sidebar-background;
  color: $sidebar-color;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
