@import "../../styles/variables.scss";

.container {
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    background: #FDF8F0;
    column-gap:20px;
}
.sidebar {
  display: fixed;
  left: 0;
  top: 0;
  background: $sidebar-background;
  height: 100vh;
  color: $sidebar-color;
  grid-column: span 2;
}
.logoContainer {
  padding:40px 40px 0;
}
.menu {
  margin-top: 157px;
}
.menuItem {
  display: block;
  width:100%;
  padding:15px;
  
}
.menuItem:hover {
  background: $btn-background-hover;
}
.active {
  background: $btn-background-default;
}