@import './styles/variables.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  user-select: none;
  width: 1920px;
  margin:0 auto;
  background: $body-background-primary;
  color:$body-color-primary;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}
