@import "./styles/variables.scss";
@font-face {
  font-family: $body-family-secondary-regular;
  src: url("./assets//fonts/gothampro.ttf");
}
@font-face {
  font-family: $body-family-secondary-bold;
  src: url("./assets//fonts/gothampro_bold.ttf");
}
@font-face {
  font-family: $body-family-secondary-medium;
  src: url("./assets//fonts/gothampro_medium.ttf");
}
@font-face {
  font-family: $body-family-secondary-black;
  src: url("./assets//fonts/gothampro_black.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  user-select: none;
  max-width: 1920px;
  margin: 0 auto;
  text-align: justify;
  background: $body-background-primary;
  color: $body-color-primary;
  font-family: $body-family-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.4px;
}
//scrollbar
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
}

body::-webkit-scrollbar-track {
  background: #71856C;
  border-radius: 10px 10px 10px 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #FDF8F0;
  border:1px solid #71856C;
  border-radius: 10px 10px 10px 10px;
}
.app {
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style-type: none;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.44px;
  margin-bottom: 30px;
  color: $title-color-default;
  font-family: $body-family-secondary-black;
}
h2 {
  color: $subtitle-color-default;
  font-family: $body-family-secondary-bold;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}
h6 {
  font-family: $body-family-secondary-regular;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
.blurContent {
  filter: blur(15px);
  background: $blur-background;
  -webkit-filter: blur(15px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 401;
}

//scrollbar
body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  border-radius: 10px 10px 10px 10px;
}

body::-webkit-scrollbar-track {
  background: #71856c;
  border-radius: 10px 10px 10px 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #fdf8f0;
  border: 1px solid #71856c;
  border-radius: 10px 10px 10px 10px;
}
