@import "../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  max-width: 621px;
  padding: 60px 100px 81px 100px;
  justify-content: center;
  align-items: center;
  text-align: left;
  border-radius: 30px;
  background: $form-enter-background;
  color: $form-enter-color;
  position: absolute;
  top: 40%;
  left: 40%;
  // transform: translate(-50%, -50%);
  z-index: 402;
}
.area {
  position: absolute;
  width: 300px;
  padding: 40px 20px;
  left: 80%;
  top: 121px;
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  background: $btn-background-hover;
  align-items: flex-start;
  & button {
    @include ButtonPrimary();
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.72px;
    color: $btn-areaForm-color;
    border: none;
    justify-content: left;
  }
}
h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.form {
  display: flex;
  flex-direction: column;

  fieldset {
    position: relative;
    border: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    label {
      display: block;
    }
  }
  label {
    font-size: 16px;
    font-weight: 400;
  }

  .eyeIcon {
    position: absolute;
    right: 18px;
    top: 50px;
    cursor: pointer;
  }

  .error {
    color: red;
    font-size: 12px;
    position: absolute;
    bottom: 262px;
  }
  .errorInput {
    border: 1px solid red;
  }
  .errorMessage {
    color: red;
    font-size: 12px;
    position: absolute;
    top: 3px;
    right: 0px;
  }

  input {
    margin-top: 9px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid $gray;
    background: $white;
    font-size: 16px;
    font-weight: 400;
    padding: 14px 0 15px 10px;
    position: relative;
  }
  /* удаление иконки отображения пароля в IE */
  input[type="password"]::-ms-reveal {
    display: none;
  }
  /* удаление иконки стрелок */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  a {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: end;
  }

  button {
    @include ButtonPrimary();
    margin: 62px auto 0;
    width: 100%;
    padding: 15px 10px;
    background: $btn-background-secondary;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.05);
    font-size: 20px;
    color: $btn-color-secondary;
  }
  .disabled {
    @include ButtonDisabled();
  }
  .submit {
    margin: 90px auto 0;
  }
}
.modalForm {
  display: block;
}
.modalFormDisabled {
  display: none;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  bottom: 90px;
  width: 100%;

  & button {
    cursor: pointer;
    background: $body-background-primary;
    box-shadow: none;
    color: inherit;
    font-size: 16px;
    padding: 0;
    border: none;
    background: transparent;
  }
}

.agreement {
  margin-top:15px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap:10px;
  label {
    margin:0;
  }
}